
        <div class="slide transitionSlide" id="graphics-multimedia-title">
          <section class="middle">
            <h2>Graphics / Multimedia</h2>
            <p>2D &amp; 3D</p>
            <img src="src/images/html5_3d_effects_64.png" title="HTML5 3D &amp; Effects" alt="HTML5 3D &amp; Effects">
            <img src="src/images/html5_multimedia_64.png" title="HTML5 Multimedia" alt="HTML5 Multimedia">
          </section>
        </div>

{% include_relative 05-graphics-multimedia/01-video-audio.html %}
{% include_relative 05-graphics-multimedia/02-video-track.html %}
{% include_relative 05-graphics-multimedia/03-fullscreen-api.html %}
{% include_relative 05-graphics-multimedia/04-canvas-2d.html %}
{% include_relative 05-graphics-multimedia/05-canvas-2d-example.html %}
{% include_relative 05-graphics-multimedia/06-canvas-3d.html %}
{% include_relative 05-graphics-multimedia/07-inline-svg.html %}
{% include_relative 05-graphics-multimedia/08-svg-example-slide.html %}
