<div class="slide transitionSlide" id="semantics-markup-title">
  <section class="middle">
    <h2>Semantics &amp; Markup</h2>
    <p>More meaningful elements</p>
    <img src="src/images/html5_semantics_64.png" title="HTML5 Semantics &amp; Markup" alt="HTML5 Semantics &amp; Markup">
  </section>
</div>

{% include_relative 04-semantics-markup/01-semantic-tags-1.html %}
{% include_relative 04-semantics-markup/02-semantic-tags-2.html %}
{% include_relative 04-semantics-markup/03-link-relations.html %}
{% include_relative 04-semantics-markup/04-microdata.html %}
{% include_relative 04-semantics-markup/05-aria-attributes.html %}
{% include_relative 04-semantics-markup/06-new-form-types.html %}
{% include_relative 04-semantics-markup/07-form-types-mobile.html %}
