---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HTML5 Presentation</title>
    <link href="http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono" rel="stylesheet" type="text/css" />
    <link id="prettify-link" href="src/prettify/prettify.css" rel="stylesheet" disabled />
    <link href="styles/fonts.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="styles/presentation.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="styles/common.css" rel="stylesheet" type="text/css" media="screen" />
    <link class="theme" href="styles/default.css" rel="stylesheet" type="text/css" media="screen" />
    <link class="theme" href="styles/moon.css" rel="stylesheet" type="text/css" media="screen" />
    <link class="theme" href="styles/sand.css" rel="stylesheet" type="text/css" media="screen"/>
    <link class="theme" href="styles/sea_wave.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>
  <body>
    <div id="flex-container">
    <nav id="helpers">
      <button title="Previous slide" id="nav-prev" class="nav-prev">&#8701;</button>
      <button title="Jump to a random slide" id="slide-no">5</button>
      <button title="Next slide" id="nav-next" class="nav-next">&#8702;</button>
      <menu>
        <button type="checkbox" data-command="toc" title="Table of Contents" class="toc">TOC</button>
        <!-- <button type="checkbox" data-command="resources" title="View Related Resources">&#9734;</button> -->
        <button type="checkbox" data-command="notes" title="View Slide Notes">&#9999;</button>
        <button type="checkbox" data-command="source" title="View slide source">&#8635;</button>
        <button type="checkbox" data-command="help" title="View Help">?</button>
      </menu>
    </nav>
    <div class="slides">
        <div id="presentation-counter">Loading...</div>

        <div class="slide" id="landing-slide">
          <section class="middle">
            <p>This presentation is an HTML5 website</p>
            <p>Press <span id="left-init-key" class="key">&rarr;</span> key to advance.</p>
          </section>
          <aside class="note">
            <section>
              Welcome! (This field is for speaker notes and commentary.)
            </section>
          </aside>
        </div>

        <div class="slide" id="controls-slide">
          <header>Slides controls</header>
          <section>
            <ul>
              <li><span class="key">&larr;</span> and <span class="key">&rarr;</span> to move around.</li>
              <li><span class="key">Ctrl/Command</span> and <span class="key">+</span> or <span class="key">-</span> to zoom in and out if slides don’t fit.</li>
              <li><span class="key">S</span> to view page source.</li>
              <li><span class="key">T</span> to change the theme.</li>
              <li><span class="key">H</span> to toggle syntax highlight.</li>
              <li><span class="key">N</span> to toggle speaker notes.</li>
              <li><span class="key">3</span> to toggle 3D effect.</li>
              <li><span class="key">0</span> to toggle help.</li>
            </ul>
          </section>
        </div>

        <div class="slide" id="title-slide">
          <section class="middle">
            <hgroup>
              <h1>
                HTML5*
              </h1>
              <h2>
                Web Development to the next level
              </h2>
            </hgroup>
            <p>*Including other next generation technologies of the Web Development stack</p>
          </section>
        </div>


        <div class="slide" id="timeline-slide">
          <header>Rough Timeline of Web Technologies</header>
          <section>

            <ul id="timeline">
              <li data-auto><span class="year">1991</span> <span class="html">HTML</span></li>
              <li data-auto><span class="year">1994</span> <span class="html">HTML 2</span></li>
              <li data-auto><span class="year">1996</span> <span class="css">CSS 1</span> + <span class="js">JavaScript</span></li>
              <li data-auto><span class="year">1997</span> <span class="html">HTML 4</span></li>
              <li data-auto><span class="year">1998</span> <span class="css">CSS 2</span></li>
              <li data-auto><span class="year">2000</span> <span class="html">XHTML 1</span></li>
              <li><span class="year"><em class="stroke">2002</em></span> <span class="css">Tableless Web Design</span></li>
              <li><span class="year"><em class="stroke">2005</em></span> <span class="js">AJAX</span></li>
              <li><span class="year"><em class="stroke">2009</em></span> <span class="html">HTML 5</span></li>
            </ul>
          </section>
        </div>


        <div class="slide" id="formula-intro-slide">
          <section class="middle formula" data-build>
            HTML5 ~=
            <span class="html">HTML</span>
            +
            <span class="css">CSS</span>
            +
            <span class="js">JS</span>
          </section>
        </div>

        <div class="slide" id="table-of-contents">
          <header><h1>Today, we will cover...</h1></header>
          <section>
            <ul id="toc-list">
            </ul>
          </section>
        </div>


{% include_relative 01-offline-storage/index.html %}
{% include_relative 02-realtime-communication/index.html %}
{% include_relative 03-hardware-access/index.html %}
{% include_relative 04-semantics-markup/index.html %}
{% include_relative 05-graphics-multimedia/index.html %}
{% include_relative 06-css3/index.html %}
{% include_relative 07-nuts-bolts/index.html %}


<div class="slide" id="browser-support">
  <header><h1>See it today?</h1></header>
  <section>
    <ul class="bullets">
      <li>Modern Browsers</li>
      <li>Mobile Browsers</li>
      <li>Chrome extensions/Firefox Jetpack/Safari extensions</li>
    </ul>
  </section>
</div>


<div class="slide" id="chrome-frame">
  <header><h1>Chrome Frame</h1></header>
  <section>
    <ul class="bullets">
      <li>Minimal effort for bringing IE6, 7 and 8 up to the latest HTML5 technologies</li>
      <li>Two ways to get your websites ready for Chrome Frame:</li>
    </ul>
    <p>Client side:</p>
    <pre>&lt;meta http-equiv="X-UA-Compatible" content="chrome=1"></pre>
    <p>Server side:</p>
    <pre>X-UA-Compatible: chrome=1</pre>
    <p style="font-size: 30px">
      Try to load this presentation in IE!
    </p>
  </section>
</div>


        <div class="slide" id="formula-outro-slide">
          <section class="middle formula">
            HTML5 ~=
            <span class="html">HTML</span>
            +
            <span class="css">CSS</span>
            +
            <span class="js">JS</span>
            <p>
              HTML5 <em class="stroke">=</em> Next Generation Features for Modern Web Development
            </p>
            <p class="resource-link">
              <a href="http://slides.html5rocks.com">http://slides.html5rocks.com</a>
              <a href="http://www.html5rocks.com">http://www.html5rocks.com</a>
            </p>
          </section>
        </div>

        <div id="speaker-note" class="invisible" style="display: none;"></div>
        <aside id="help" class="sidebar invisible" style="display: none;">
          <table>
            <caption>Help</caption>
            <tbody>
              <tr>
                <th>Move Around</th>
                <td>&larr;&nbsp;&rarr;</td>
              </tr>
              <tr>
                <th>Source File</th>
                <td>s</td>
              </tr>
              <tr>
                <th>Change Theme</th>
                <td>t</td>
              </tr>
              <tr>
                <th>Syntax Highlight</th>
                <td>h</td>
              </tr>
              <tr>
                <th>Speaker Notes</th>
                <td>n</td>
              </tr>
              <tr>
                <th>Toggle 3D</th>
                <td>3</td>
              </tr>
              <tr>
                <th>Help</th>
                <td>0</td>
              </tr>
            </tbody>
          </table>
        </aside>

    </div> <!-- slides -->
    </div>


    <script src="src/prettify/prettify.js" onload="prettyPrint();" defer></script>
    <script src="js/utils.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
  </body>
</html>
