<div class="slide transitionSlide" id="realtime-title">
  <section class="middle">
    <h2>Realtime / Communication</h2>
    <p>Stay connected</p>
    <img src="http://www.html5rocks.com/static/images/identity/classes_64/HTML5_Connectivity_64.png" title="HTML5 Realtime &amp; Communication" alt="HTML5 Realtime &amp; Communication">
  </section>
</div>

{% include_relative 02-realtime-communication/01-web-workers.html %}
{% include_relative 02-realtime-communication/02-web-sockets.html %}
{% include_relative 02-realtime-communication/03-notifications-api.html %}
