<div class="slide transitionSlide" id="hardware-access-title">
  <section class="middle">
    <h2>File / Hardware Access</h2>
    <p>Deeper integration with the Operating System</p>
    <img src="src/images/html5_device_access_64.png" title="HTML5 Device Access" alt="HTML5 Device Access">
  </section>
</div>

{% include_relative 03-hardware-access/01-native-drag-and-drop.html %}
{% include_relative 03-hardware-access/02-desktop-drag-in.html %}
{% include_relative 03-hardware-access/03-desktop-drag-out.html %}
{% include_relative 03-hardware-access/04-filewriter.html %}
{% include_relative 03-hardware-access/05-geolocation.html %}
{% include_relative 03-hardware-access/06-slide-orientation.html %}
{% include_relative 03-hardware-access/07-speech-input.html %}
